/* Styles.css */
.dropzone {
  border: 2px solid transparent;
  padding: 10px;
  min-height: 50px;
  transition: border 0.2s ease-in-out;
}

.blue-line-left {
  border-left: 4px solid blue;
}

.blue-line-right {
  border-right: 4px solid blue;
}

.draggable {
  padding: 10px;
  background: lightgrey;
  cursor: grab;
}
